<div class='idea_show' id='idea_c_<%=idea.id%>' onmouseover="show_delete_link(<%=idea.id%>)" onmouseout="hide_delete_link(<%=idea.id%>)">
  <div class='details'>
    By <%=current_user.login == idea.user.login ? 'me' : idea.user.login%> 
    <%= time_ago_in_words(idea.created_at)
%> (<%=formatted_time(idea.created_at)
%>)
  </div>
  <div class='content'>
    <%=html_encode(idea.body, true)%>
  </div>
  <%=render :partial=>"ideas/idea_files", :locals=>{:files=>idea.files}%>
  <%if current_user == idea.user%>
    <div class='delete_link_place'>
      <div id='delete_<%=idea.id%>' style='display:none;'>
        <%=link_to_remote "Delete", :url=>{ :action => "destroy", :id => idea},  :method => :delete, :confirm=>"Sure?", :html=>{:class=>'delete_file_link'}%>
      </div>  
    </div>
  <%end%>
</div>