<%content_for(:title, "Tag sharing") %>
<h1 class='page_title'>Share your tags</h1>
<table cellspacing="10">
  <tr valign="top">
      <td width="50%">
	       	<h2>Shares for me</h2>
			<div class="sharing_list">
				<%@sharings_to_me.each do |share|%>
                  <% form_remote_tag(:url => sharing_path(share), :method=>'DELETE') do%>
                  <div class="share" id="share_<%=share.id%>">
                    <span class="share_user"><%=share.owner.login%></span>
                       shared
                       <span class="share_tag"><%=share.tag.name%></span> with me
                       <input type="submit" value="Decline" >
                  </div>
                  <%end%>
				<%end%>
			</div>
      </td>
	   <td width="50%">
	       	<h2>My shares </h2>
			<div class="sharing_list" id="my_shares">
				<%@sharings_by_me.each do |share|%>
					<%=render :partial=>"my_share", :locals=>{:share=>share} %>
				<%end%>
			</div>
    	</td>
   </tr>
   <tr>
   	<td colspan="2">
   		<hr>
		<%=render :partial=>"tags", :locals=>{:tag_sharings=>@unshared_tags}%>    
   	</td>
   </tr>
</table>
