<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title><%=CONFIG[:site_title]%> <%="- #{yield(:title)}"%></title>
    <%= stylesheet_link_tag "screen", :media => "all" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "main", :media => "all" %>
    <%= stylesheet_link_tag "tabber", :media => "all" %>
    <!--[if IE]><%= stylesheet_link_tag "ie", :media => "all" %><![endif]-->
    
    <%= javascript_include_tag "prototype" %>
    
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "jrails" %>
    <%= javascript_include_tag 'live_validation' %>
    <%= javascript_include_tag "jquery.ie6blocker" %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'live_validation' %>

    <%= forulio_editor_support %>

  </head>
  
<body>
  <noscript><style type="text/css">div.container { display: none }</style></noscript>
	<noscript>
		<div class="javascript_disabled_notification">
			<div class="inner">
				<h1>You need to change a setting in your web browser</h1>
				<p> This application requires a browser feature called <strong>JavaScript</strong>. All modern browsers support JavaScript. You probably just need to change a setting in order to turn it on.</p>

				<p>Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p>

				<p>If you use ad-blocking software, it may require you to allow JavaScript for this specific domain</p>

				<p>Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p>

				<p>Thank you.</p>
			</div>
		</div>
	</noscript>

	<div class="container">
		<div class="span-18">
			<%= link_to "", main_url(),{:title=>"Vertada", :class=>"logo"}%>
      <%if current_user%>
        <div id='main_menu'>
          <%=link_to "Idea!", home_path, :class=>"new_idea_link"%>&nbsp;&nbsp;&nbsp;
		  <%=link_to "Current Ideas", ideas_path%>&nbsp;&nbsp;&nbsp;
		  <%=link_to "Sharing", sharings_path%>
        </div>
      <%end%>
		</div>
		<div class="span-6 last">
			<%=render :partial=>"users/user_bar"%>
		</div>  
		<div class='clear'></div>
    
    <br/>
    <%render :partial=>"shared/main_menu"%>
  
    <div id='flash'>
      <%=flash_helper%>
    </div>
    
		<%=yield :errors%>

		
		<div class="span-24 last">
			<%=yield%>
		</div>

		<hr />
		<div class="span-6 last">
			&copy; 2009 <%=(' &#151; %d ' % [Time.today.year]) if Time.today.year > 2009 %><a href="http://vertical-align.com">Vertical Align</a>
		</div>

	</div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1925862-11");
pageTracker._trackPageview();
} catch(err) {}</script>
</body> 
</html>


